<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Metro" version="0.5.0" targetFramework="net452" />
  <package id="Caliburn.Micro" version="2.0.0" targetFramework="net452" />
  <package id="Caliburn.Micro.Core" version="2.0.0" targetFramework="net452" />
  <package id="Costura.Fody" version="1.6.2" targetFramework="net452" developmentDependency="true" />
  <package id="Fody" version="2.0.0" targetFramework="net452" developmentDependency="true" />
  <package id="MahApps.Metro" version="1.2.4.0" targetFramework="net452" />
  <package id="MahApps.Metro.Resources" version="0.6.1.0" targetFramework="net452" />
</packages>